body{
  background-color: aqua;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

#main {
  height: 100%;
  width: 100%;
  background-color: rgba(248, 250, 253, 1);
}
